pySide6-Fluent-Widgets==1.7.6
pycaw==20240210
rapidocr
psutil==6.1.0
WMI==1.5.1
typing-extensions>=4.11.0
numpy
opencv-contrib-python
adbutils
onnxruntime_directml
ok-script
msgpack==1.1.0
cryptography==43.0.3
requests==2.32.3
pip-tools
pydirectinput==1.0.4
mouse==0.7.1
